.destinationTable {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        // border: 1px solid #ddd;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #04aa6d;
        color: white;
    }

    tr:nth-child(even) {
        // background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }
}

.destinationImage {
    width: 100px;
    height: auto;
}
