.searchPage {
    position: relative; /* Thêm position: relative ở đây */
    height: 250px;
    margin-top: -160px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 20px;
}
.searchContainer {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    border-radius: 5px;
    background: #99bde4;
    .searchHeader {
        text-align: center;
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
        }
        .searchControl {
            position: relative; // Make the parent container relative
            display: flex;
            .searchIcon {
                position: absolute;
                right: 40px;
                top: 7px;
                bottom: 0;
                margin: auto;
                padding-right: 10px; // Adjust spacing between the icon and input field
                color: #007bff;
                font-weight: 500;
                cursor: pointer; // Adjust icon color as needed
                &:hover {
                    color: #134478;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }

        .searchControl input[type='text'] {
            width: calc(100% - 30px); // Adjust width to accommodate the icon
        }
    }

    .searchBody {
        display: flex;
        padding: 20px;
        justify-content: space-between;

        .startTime,
        .endTime,
        .totalDay {
            flex: 1;
            margin-right: 10px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input {
            width: 100%;
        }
        select {
            width: 100%;
        }
    }

    button {
        display: block;
        margin: 0 auto;
        background-color: #007bff;
        color: #fff;
    }
}

.inputTime {
    width: 100%;
    border-radius: 5px;
    border-color: #f3ecec;
    height: 55%;
}
