.buttonHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    .btn {
        width: 100px;
        height: 10%;
        border-radius: 5px;
        background: #333;
        color: #fff;
    }
    .btnBack {
    }
    .btnSignUp {
    }
}
.loginContainer {
    width: 100%;
    // border: 1px solid #333;
    margin-top: 10%;

    .loginTitle {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            font-weight: 800;
        }
        .renderSignUp {
            color: #37c7e4;
            text-decoration: none;
        }
    }
    .loginForm {
        width: 30%;
        // border: 1px solid #333;
        margin: 0 auto;
        .formTm {
            text-align: center;
            .formGroup {
                margin: 5px;
                .inputField {
                    border-color: #37c7e5;
                    &:hover {
                        border-color: #37c7e4;
                    }
                }
            }
            .checkboxGroup {
                display: flex;
                justify-content: space-between;
                margin: 5px;
                .forgotPassword {
                    color: #37c7e4;
                    font-style: italic;
                    text-decoration: none;
                }
                .checkboxContainer {
                    .checkbox {
                        margin-right: 3px;
                        font-size: 1rem;
                    }
                }
            }
            .buttonGroup {
                padding-top: 20px;
                .loginButton {
                    width: 100%;
                    border-radius: 5px;
                    background: #37c7e4;
                    height: 30px;
                    text-align: center;
                    margin: 5px;
                    border-color: #37c7e4;
                    font-weight: 600;
                    color: aliceblue;
                    &:hover {
                        background: #458d9b;
                    }
                }
                .loginWithLink {
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
}

.error {
    color: red;
    font-style: italic;
    font-size: 15px;
}
.passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
    font-size: 1.2em;
    transition: color 0.3s ease;
}
