.error {
    color: red;
    font-size: 12px;
    font-style: italic;
}
.container {
    width: 95%;
    margin: auto;
    .inputInfo {
        width: 100%;
        height: calc(40px);
        border: 1px solid hsl(0, 0%, 51%);
        margin: 5px;
        outline: none;
        border-radius: 8px;
        padding-left: 15px;
        &:hover {
            border: none;
            border: 2px solid #010101;
        }
    }
    .formGroupTitle {
        label {
            display: inline-block;
            width: 25%; /* Đảm bảo label có độ rộng cố định */
            text-align: left; /* Căn nội dung sang phải */
            margin-right: 10px;
        }
        .inputTitle {
        }
    }
    .formGroupDate {
        .startDay {
            label {
                display: inline-block;
                width: 25%; /* Đảm bảo label có độ rộng cố định */
                text-align: left; /* Căn nội dung sang phải */
                margin-right: 10px;
            }
        }
        .endDay {
            label {
                display: inline-block;
                width: 25%; /* Đảm bảo label có độ rộng cố định */
                text-align: left; /* Căn nội dung sang phải */
                margin-right: 10px;
            }
        }
    }
    .formGroupTour {
        label {
            display: inline-block;
            width: 25%; /* Đảm bảo label có độ rộng cố định */
            text-align: left; /* Căn nội dung sang phải */
            margin-right: 10px;
        }
        select {
            width: 100%;
            height: calc(40px);
            border: 1px solid hsl(0, 0%, 64%);
            margin: 5px;
            outline: none;
            border-radius: 8px;
            padding-left: 15px;
            &:hover {
                border: 2px solid hsl(0, 0%, 0%);
            }
        }
    }
    .btnAddTour {
        width: 20%;
        border: 1px solid #92d5fa;
        border-radius: 5px;
        float: right;
        margin: 5px;
        color: rgb(245, 245, 250);
        background: #65b7e2;
    }
    .formGroupDiscount {
        width: 100%;
        padding-top: 40px;
        display: flex;
        .controlDiscount {
            display: flex;
            margin-left: 5rem;
            .inputDiscount {
                width: 60%;
                margin: 0 10px 0 10px;
                text-align: center;
                border: 1px solid #333;
                padding-left: 15px;
                border-radius: 8px;
            }
            label {
                display: inline-block;
                width: 25%; /* Đảm bảo label có độ rộng cố định */
                text-align: right; /* Căn nội dung sang phải */
                margin-right: 10px;
            }
            .iconMinus {
                margin-top: 5px;
                cursor: pointer;
            }
            .iconPlus {
                cursor: pointer;
                margin-top: 5px;
            }
        }
    }
}
.groupInfoTourAdd {
    margin-top: 40px;

    .inFoRoom {
        display: flex;
        justify-content: space-between;
        border: 1px solid #92d5fa;
        margin: 5px;
        border-radius: 5px;
        .tourNameAdd {
            height: 35px;
            padding-left: 15px;
            padding-top: 5px;
        }
        .iconDeleteTour {
            cursor: pointer;
            margin-right: 30px;
            padding-top: 10px;
            color: red;
        }
    }

    .detailTour {
        display: flex;
        width: 100%;
        .groupDetailTour {
            display: block;
            width: 30%;
            .infoDetail {
                display: flex;
                margin: 10px;
                width: 100%;
                input {
                    padding-left: 10px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #333;
                    height: 35px;
                }
            }
            .error {
                color: red;
                font-size: 12px;
                font-style: italic;
                text-align: center;
            }
        }
    }
}

.groupButton {
    text-align: right;
    margin-top: 50px;
    .btnSave {
        border: 1px solid #333;
        width: 100px;
        height: 40px;
        border-radius: 5px;
    }
}
