.HeaderSlider {
    // margin-top: 30px;
    z-index: 1;
    margin-bottom: 40px;
    box-sizing: border-box;
    width: 90%;
    // margin-left: 181px;
    padding-left: 170px;
    height: 480px;
    padding-top: 80px;
    .imageBanner {
        height: 550px;
        width: 100%;
    }
}

@media screen and (max-width: 1014px) {
    .imageBanner {
        height: 100%;
        width: 100%;
    }
}
